////////////////////////////////////////////////////////////////////////////
///****   typography     typography     typography     typography   ****///
///////////////////////////////////////////////////////////////////////////

/// sets the html global font size when your font-size is in REMS then it will change accordingly
html{
    font-size: 14px;
    // @media (min-width: $media-sml) {font-size:16px}
    @media (min-width: $media-med) {font-size:16px}
    // @media (min-width: $media-lrg) {font-size:18px}
    // @media (min-width: $media-lrg-xl) {font-size:19px}
}

body{font-family: 'Raleway', sans-serif;}

//specific fo h tags
@include h-tags{
  line-height: 1.1;
  margin-bottom: .75rem;
}

h1{@include fontSize(44px);}
h2{@include fontSize(34px);}
h3{@include fontSize(26px);}
h4{@include fontSize(20px);}
h5{@include fontSize(18px);}

p{
  @include fontSize(16px);
  line-height: 1.4;
  margin-bottom: 1rem;
}

small{
	@include fontSize(14px);
}
////****href ****/////
a, a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
    &:hover{color: $hover}
   }




////**** lists ****/////
ul{margin-bottom: 1rem;}

li{
  @include fontSize(16px);
  line-height: 1.4;
  font-weight: 300;
  list-style: none;
  list-style-position: inside;
}
li::before{
  content: " - "
}

////**** quotes ****/////
em{ font-style: italic;}
em::before{content: '"';}
em::after{content: '"';}

////**** blockquote ****////
blockquote{
    margin:1rem 1rem;
    padding-left: 1rem;
    font-style: italic;
    color: darkslategray;
    border-left: 1px solid;
    line-height: 1.5;
}


////**** text transform ****////
.text-lowercase {text-transform: lowercase;}
.text-uppercase {text-transform: uppercase;}
.text-capitalize {text-transform: capitalize;}
strong{font-weight: 600;}
.bold {font-weight: 500;}
.light{font-weight: 300;}
.underline {text-decoration: underline;}
.italic{font-style: italic;}
.highlight {color: yellow; background-color: pink}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}